<!-- <div class="tab-pane {% if user_level == 1 %}active{% endif %} p-20" id="draft" role="tabpanel">
    <table id="draft-table" class="table table-striped card-table table-vcenter" 
    data-url="{% url 'sc:get_pi_for_dataTable' 'draft' %}">
    <thead>
    <tr class="text-center">
    <th style="width: 150px">PI No.</th>
    <th style="width: 150px">WO No.</th>
    <th style="width: 150px">Supplier</th>
    <th style="width: 150px">Created by</th>
    <th style="width: 150px">Status</th>
    <th style="width: 180px">Raised at</th>
    <th style="width: 50px"></th>
    </tr>
    </thead>
    </table>
    </div>


    

    <script>
        var draftTable      = null;
        $(document).ready(function () {
        PIdataTableFunc(draftTable, "#draft", "#draft-table", {})
        });
        </script> -->

